<!DOCTYPE html>
<html lang="kr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>

    <div id = "loginbox">

    </div>
    <hr>

    <h2> {{boardname}} </h2>

    {% for item in itemList %}
    <li>
      <span> {{ item.id }} </span>
      <span> {{ item.title }} </span>
      <span> / </span>
      <span> {{ item.writer }} </span>
      <span> / </span>
      <span> {{ item.date }} </span>
      <span> / </span>
      <span> {{ item.uploader }} </span>
      <span> {{ item.uploadtime }} </span>
      <span> {{ item.text }} </span>
      <button deltarget = {{ item.type }} idx = {{ item.idx }} id = {{item.id}} type = "button"  onclick="delarticle(event)">삭제</button>
    </li>
    {% endfor %}

  </body>


  <script type="text/javascript" src="/static/js/userfunc.js"> </script>

  <script type="text/javascript">
    function delarticle(event){
      //console.log( event.currentTarget )
      //let board = document.getElementById("board").value
      let board = document.getElementsByTagName('h2')[0].innerText
      let id = event.currentTarget.id
      let token = getCookie("token")

      //why get?? anyway . is not working..
      let idx = event.currentTarget.getAttribute("idx")
      let deltarget = event.currentTarget.getAttribute("deltarget")
      //let rbutton = document.getElementById("viewarticleB")
      let rbutton = null
      //console.log(deltarget)
      if(deltarget=="태그"){xmldeltag(board,id,idx,token, rbutton)}
      else if(deltarget=="댓글"){xmldelcomm(board,id,idx,token, rbutton)}
      //console.log(token)
      else{xmldelarticle(board,id,token)}
    }

    // function xmldelarticle(board,id,token){
    //   var url = '/xmldelarticle'
    //   var xhr = new XMLHttpRequest()
    //   var formData = new FormData()
    //   xhr.open('POST', url, true)// true means async.
    //   xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
    //
    //   xhr.addEventListener("load", function(e){
    //     //Fshowarticles()
    //     ( e.srcElement.status==200 ? alert(e.srcElement.responseText) : alert("fail..") )
    //   })
    //
    //   formData.append("board", board  )
    //   formData.append("id", id  )
    //   formData.append("token", token  )
    //   xhr.send(formData)
    // }


    //we import it!
    // function getCookie(cname) {
    //   var name = cname + "=";
    //   var decodedCookie = decodeURIComponent(document.cookie);
    //   var ca = decodedCookie.split(';');
    //   for(var i = 0; i <ca.length; i++) {
    //     var c = ca[i];
    //     while (c.charAt(0) == ' ') {
    //       c = c.substring(1);
    //     }
    //     if (c.indexOf(name) == 0) {
    //       return c.substring(name.length, c.length);
    //     }
    //   }
    //   return "";
    // }


  </script>

</html>
