<!DOCTYPE html>
<html lang="kr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>게시판삭제</title>
  </head>
  <body>

    <div id="loginbox">

    </div>

    <form class="" action="/delboardname" method="post">

      <input id="token" type="text" name="token" hidden = True ><br>

      <select id = "board" name="board" required>
        {% for board in boardList %}
        <option value= {{board}}> {{board}} </option>
        {% endfor %}
      </select>

      <button id="delboardB" type="submit" hidden>삭제보내기</button>
      <button id="clickB" type="button">삭제하기</button>
    </form>



  </body>
  <script type="text/javascript">
    document.getElementById("clickB").addEventListener("click", function(){
      let ma = confirm("삭제하면 되돌릴수없습니다")
      if(ma){
      document.getElementById("delboardB").click()
    }
    } )
  </script>

  <script type="text/javascript" src="/static/js/shasha.js"> </script>
  <script type="text/javascript" src="/static/js/userfunc.js"> </script>

    <script type="text/javascript">
      frame = document.getElementById("loginbox")
      makeloginbox(frame)
      filltoken()
    </script>

</html>
