<!DOCTYPE html>
<html lang="kr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>new board!</title>
  </head>
  <body>
    <div id="loginbox">

    </div>

    --- 게시판이름이 !로 시작하면 비공개, @면 누구나글쓰기됨<br>
    예) !내부공지, @아무나게시판---<br>
    - \ / : * ? " < > | 는 다른 문자로 변환됩니다-<br>
    <form class="newboard" action="/createboard" method="post">
      <input id="token" type="text" name="token" hidden = True ><br>

      게시판 이름: <input  id="boardname" type="text" name="name"><br>

      <!--div>글쓰기권한:
      <input type="radio" id="manager" name="writer" value="manager">
      <label for="manager">manager</label>
      <input type="radio" id="all" name="writer" value="all">
      <label for="all">all</label><br>
      </div-->

      <button id="submitB" type="submit" name="button" >등록</button>
    </form>

    처음 게시판을 만든 뒤엔, 게시판태그 에서 게시판용 기본 배너를 추가 해 주세요.<br>
  </body>

  <script type="text/javascript" src="/static/js/shasha.js"> </script>
  <script type="text/javascript" src="/static/js/userfunc.js"> </script>

    <script type="text/javascript">
      frame = document.getElementById("loginbox")
      makeloginbox(frame)
    </script>

    <script type="text/javascript">
    filltoken()
    //simple login checker.fine. it's in userfunc.

    /*
    setTimeout("filluser()", 200)


      function filluser(){
      //username = document.getElementById("username")
      token = getCookie("token")
      if (token == ""){
        console.log('no token. get again after 1s..')
    setTimeout("filluser()", 1000)}

      userbox = document.getElementById("token")
      userbox.value = token
    }

    function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
    function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
    */

    </script>


</html>
