<!DOCTYPE html>
<html lang="kr" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta http-equiv="Cache-Control" content="must-revalidate">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Expires" content="0">



    <title>{{sitename}}</title>
    <meta name="description" content="{{announce}}">
    <meta name="keywords" content="{{keywords}}">

    <link rel="stylesheet" type="text/css" href="/static/css/flexcol.css">
    <link rel="stylesheet" type="text/css" href="/static/css/charcolor_{{board}}.css">
    <link rel="stylesheet" type="text/css" href="/static/css/unitcolor_{{board}}.css">

    <script type="text/javascript" src="/static/head_{{board}}.json?{{headver}}"> </script>
    <!--script type="text/javascript" src="./static/fluiddict.json"> </script-->

    <script type="text/javascript" src="/static/js/sortnolist.js"> </script>
    <script type="text/javascript" src="/static/js/tagquery.js"> </script>

    <script type="text/javascript" src="/static/js/filltagframe.js"> </script>
    <script type="text/javascript" src="/static/js/makeimgbox.js"> </script>
    <script type="text/javascript" src="/static/js/inittagframe.js"> </script>
    <script type="text/javascript" src="/static/js/initimgframe.js"> </script>
    <script type="text/javascript" src="/static/js/initsortframe.js"> </script>

    <script type="text/javascript" src="/static/js/shasha.js"> </script>
    <script type="text/javascript" src="/static/js/userfunc.js"> </script>


  </head>


  <body>

    <header class ='headerBox'>
      <button type="button" id = "menuOpenB" name="button"><img src="./static/resource/menuicon.png" alt="메뉴열기"></button>

      <div class="headerTitle" >
        <a href="/view?board={{board}}"> <img src="./static/resource/headlogo.png" alt="타이틀로고"> </a>

      </div>

      <button type="button" id = "searchB" name="button"><img src="./static/resource/searchicon.png" alt="검색"></button>
      <button type="button" id = "loginB" name="button"><img src="./static/resource/loginicon.png" alt="로그인"></button>
    </header>


    <div class="menuHolder" >
      <div class="sideMenu" id="sideMenu">
        <button type="button" id = "menuCloseB" class="menuCloseB" name="button">&times;</button>
        <br><br>
        <ul>
          {% for board in boardList %}
          <li><a href="?board={{board}}" title="{{board}}">{{board}}</a></li>
          {% endfor %}
          {% for board in hiddenboardList %}
          <li><a href="?board={{board}}" title="{{board}}" class="managermenu" style="display : none">{{board}}</a></li>
          {% endfor %}
        </ul>

        <hr>
        <!--a href="#">내 업로드 보기</a-->
        <!--a href="/upload">업로드 하기</a-->
        <a href="/taginput" class="managermenu" style="display : none">고속태그</a>
        <a href="/articleboarduser">작성글조회</a>

        <a href="/manageboard" class="managermenu" style="display : none">게시판 태그</a>
        <a href="/articleboard" class="managermenu" style="display : none">게시글 상세</a>
        <a href="/newboard" class="managermenu" style="display : none">게시판추가</a>
        <a href="/delboard" class="managermenu" style="display : none">게시판삭제 </a>
        <a href="/boardorder" class="managermenu" style="display : none">게시판순서 </a>
        <a href="/assignuser" class="managermenu" style="display : none">계정 관리</a>
        <a href="/allnewboard" class="managermenu" style="display : none">사이트관리</a>
        <a href="/backup" class="managermenu" style="display : none">백업</a>
        <a class="managermenu" >x</a>


      </div>

      <div class="voidScreen" id="voidScreen">

      </div>
    </div>

    <div class = "loginBox" id = "loginBox">

    </div>







    <main>
      <br>
      <div class="tagFrame" id="tagFrame">
        <div class="tagBox" id="characterTagbox">

        </div>

        <div class="bannerFrame" id="bannerFrame">
          <img class = "bannerImg" src="/static/banner/{{board}}/default.png" alt="배너이미지"  >
        </div>
        <!--div class="tagBox" id="moodTagbox">
          <span>태그 목록 : </span>
        </div-->
        <br>
        <div class="tagBox" id="userTagbox">
        </div>
      </div>



      <div class="writearea">
        <button type="button" id='writeB'  class="managermenu" style="display : {{allwriter}}">글쓰기</button>
        <span> </span>
        <button type="button" id='likeviewB'>좋아요 보기</button>
      </div>


      <br>
      <hr>

      <div class="sortFrame" id="sortFrame">
        <!--span>정렬:</span-->

      </div>


      <!--div class="flexFrame" id = "flexFrame"></div-->
        <div class="imgFrame" id = "imgFrame">


      </div>

    </main>




    <footer id='foot'>
      <p> 2021 {{sitename}} </p>
    </footer>

    <script type="text/javascript">
      likeviewB = document.getElementById("likeviewB")
      likeviewB.addEventListener('click', likeview)

        //xml, noname or jsonfyied[id,id].to viewlist.
      function likeview(){
        var url = '/likeview'
        var xhr = new XMLHttpRequest()
        var formData = new FormData()
        xhr.open('POST', url, true)
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')

        xhr.addEventListener("load", function(event){
          let response = event.srcElement.responseText
          if( response == "noname"){alert("로그인 하세요!")}
          else{
            resList = JSON.parse(response)
            //viewList = resList
            viewList = JSON.parse(JSON.stringify(resList))
            fillNewlist(viewList)
          }

        } )

        var board = getParameterByName('board')
        let token = getCookie('token')
        formData.append("token", token)
        formData.append("board", board)
        xhr.send(formData)
      }

    </script>

    <script type="text/javascript">
      writeB = document.getElementById("writeB")
      writeB.addEventListener('click', writeupload)
      function writeupload(){
        var boardname = getParameterByName('board')

        window.location.href = "/upload?boardname="+boardname
        //https://stackoverflow.com/questions/28164479/window-open-should-open-the-link-in-same-tab/28164552
      }

    </script>


    <script type="text/javascript">

      artistList = []
      {%for key in artistList %}
        artistList.push( "{{key}}" )
      {%endfor%}

      characterList = []
      {%for key in characterList %}
        characterList.push( "{{key}}" )
      {%endfor%}

      unitList = []
      {%for key in unitDict.keys() %}
        unitList.push( "{{key}}" )
      {%endfor%}

      strDict = {}
      {%for key,value in unitDict.items() %}
          strDict["{{key}}"] ="{{value}}"
      {%endfor%}

    unitDict = {}
    for( var key of Object.keys(strDict) ){
      let str = strDict[key]
      let templist = str.replaceAll("&#39;",'"').replaceAll('"',"").replaceAll(" ","").replaceAll('[',"").replaceAll(']',"").split(",")
      unitDict[key] = new Set(templist)
    }
    strDict = {}

    </script>

    <script type="text/javascript">
    initTagframe()
    initSortB()
    initColB("{{boxid}}")
    //initImgframe()
    initImgcol("{{boxid}}")
    //finally, console.log(Object.keys(datas))
    //setTimeout(function(){}, 100)


    searchB = document.getElementById("searchB")
    searchB.addEventListener('click', searchPop)
    loginB = document.getElementById("loginB")
    loginB.addEventListener('click', loginPop)

    function loginPop() {
      loginBox= document.getElementById("loginBox")
      if(loginBox.pop == 1){
        loginBox.style.height = "0px"
        loginBox.pop = 0
      }
      else {
        loginBox.style.height = "200px"
        loginBox.pop = 1
      }

    }


    function searchPop() {
      let searchdebug = false

      let sign = window.prompt("검색할 제목?").toUpperCase() /*, "생일" 냅두면초기화용.*/
      if(sign == null ){sign = ""}
       console.log("=======",'search',sign)

      let keyList = Object.keys(datas)
      let searchList =[]
      for(var k of keyList){
        let searchidx = datas[k]['제목'].toUpperCase().indexOf(sign)

        if( searchidx != -1){
          if(searchdebug){console.log(datas[k]['제목'],sign, searchidx)}
          searchList.push(k)
        }

      }
      if(searchdebug){console.log(searchList)}
      pagenum = 1


        let rB = document.getElementsByClassName('tagResetB')
        if(rB.length!=0){rB.click()}
        //document.getElementsByClassName('tagResetB')[0].click()
      //noList = searchList
      //noList shall be full length..
      viewList = searchList
      //fillNewlist(viewList)// 2nd sort requires global view list!!
      let colNum = getColnum()
      let outFrame = getImgframe()
      setupCol(outFrame,colNum)
      fillImgcol(viewList,outFrame,pagenum)

      //searchListshow(searchList)
    }


    voidScreen = document.getElementById("voidScreen")
    voidScreen.addEventListener('click', closeNav)

    menuOpenB = document.getElementById("menuOpenB")
    menuCloseB = document.getElementById("menuCloseB")
    menuOpenB.addEventListener('click', openNav)
    menuCloseB.addEventListener('click', closeNav)

    function openNav() {
  document.getElementById("sideMenu").style.width = "200px";
  document.getElementById("voidScreen").style.width = '100%';
}

function closeNav() {
  document.getElementById("sideMenu").style.width = "0";
  document.getElementById("voidScreen").style.width = '0';
}

window.addEventListener('scroll', loadcheck)
function loadcheck(){
  //outFrame = document.getElementById('imgFrame')
  outFrame = getImgframe()
  a =document.getElementById('foot')
  //console.log(a)
  //console.log(window.scrollY+window.innerHeight >a.offsetParent.offsetHeight)
  if(window.scrollY+window.innerHeight+500 >a.offsetParent.offsetHeight == true){
    pagenum+=1
    //window.removeEventListener('scroll', loadcheck)
    fillImgcol(viewList,outFrame,pagenum)
    //window.addEventListener('scroll', loadcheck)
  }
  else{
  for(col of document.getElementsByClassName('imgCol') ){
    lastone = col.getElementsByClassName('imgBox')[col.getElementsByClassName('imgBox').length-1]
    if( window.scrollY+800 > lastone.offsetTop ){
      pagenum+=1
      //window.removeEventListener('scroll', loadcheck)
      fillImgcol(viewList,outFrame,pagenum)
      //window.addEventListener('scroll', loadcheck)
      //Forced reflow while executing JavaScript took 60ms
    }
  }
}

  //lastone=document.getElementsByClassName('imgBox')[document.getElementsByClassName('imgBox').length-1]
  /*if( window.scrollY > lastone.offsetTop-lastone.offsetHeight ){
    pagenum+=1
    fillImgcol(viewList,outFrame,pagenum)
  }*/

}

//function drag(e) { e.preventDefault() };

//_C.addEventListener('mousemove', drag, false);
//_C.addEventListener('touchmove', drag, false);

loginBox =document.getElementById('loginBox')
makeloginbox(loginBox)


  </script>

  <script type="text/javascript">
    if(getCookie("userlevel")=="manager"){
      for(var a of document.getElementsByClassName("managermenu")){
        a.style={}
      }
    }
  </script>

  </body>
</html>
